<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Page Object Model Framework">

	<listeners>

		<listener class-name="extentlisteners.ExtentListeners" />


	</listeners>


	<test name="Loans  Test">
		<classes>
			<class name="testcases.LoansTest" />

		</classes>
	</test> 
	
	

	



</suite> <!-- Suite -->
